.page {
  &__start {
    padding: 80px 0;
  }

  &__why-fresh {
    padding: 80px 0 40px 0;
  }

  &__for-all {
    padding: 0 0 80px 0;
  }

  &__work {
    padding: 0 0 90px 0;
  }

  &__deal {
  }
}
