// * ===== fonts ===== * //
$fontsInter: "Inter", sans-serif;
$fontOnest: "Onest", sans-serif;

// * ===== color ===== * //
$textColor: #1e1f1f;
$backgroundButtonColor: #056b53;
$backgroundButtonColorHover: #078f6f;
$backgroundButtonColorActive: #045c47;
