.work {
  &__title {
    font-family: $fontOnest;
    font-weight: 500;
    font-size: 74px;
    line-height: 84%;

    text-align: center;
    letter-spacing: -0.02em;

    color: $textColor;

    margin-bottom: 74px;
  }

  &__wrap-block1 {
    background: #edf0ef;
    border-radius: 100px;
    display: flex;
    align-items: center;
    width: 350px;
    height: 78px;

    margin-bottom: 20px;
  }

  &__wrap-level1 {
    background: #fff;
    box-shadow: 0px 0px 12px rgba(76, 85, 82, 0.16);
    padding: 12px 26px;
    width: 70px;
    height: 70px;
    border-radius: 50px;
    margin-left: 5px;

    font-family: $fontOnest;
    font-weight: 500;
    font-size: 40px;
    line-height: 115%;

    letter-spacing: -0.01em;

    color: $fontOnest;
  }

  &__text {
    font-size: 18px;
    line-height: 156%;
    letter-spacing: -0.007em;
    padding-left: 16px;

    color: $textColor;
  }

  &__wrap-line1 {
    text-align: center;
    margin: 0 auto;

    margin-bottom: 20px;
  }

  &__img-line1 {
  }

  &__wrap-block2 {
    background: #edf0ef;
    border-radius: 100px;
    display: flex;
    align-items: center;
    width: 350px;
    height: 78px;

    margin-left: auto;

    margin-bottom: 20px;
  }

  &__wrap-level2 {
    background: #fff;
    box-shadow: 0px 0px 12px rgba(76, 85, 82, 0.16);
    padding: 12px 24px;
    width: 70px;
    height: 70px;
    border-radius: 50px;
    margin-left: 5px;

    font-family: $fontOnest;
    font-weight: 500;
    font-size: 40px;
    line-height: 115%;

    letter-spacing: -0.01em;

    color: $fontOnest;
  }

  &__wrap-line2 {
    text-align: center;
    margin: 0 auto;

    margin-bottom: 20px;
  }

  &__img-line2 {
  }

  &__wrap-block3 {
    background: #edf0ef;
    border-radius: 100px;
    display: flex;
    align-items: center;
    width: 350px;
    height: 78px;

    margin-bottom: 20px;
  }

  &__wrap-level3 {
    background: #fff;
    box-shadow: 0px 0px 12px rgba(76, 85, 82, 0.16);
    padding: 12px 23px;
    width: 70px;
    height: 70px;
    border-radius: 50px;
    margin-left: 5px;

    font-family: $fontOnest;
    font-weight: 500;
    font-size: 40px;
    line-height: 115%;

    letter-spacing: -0.01em;

    color: $fontOnest;
  }

  &__wrap-line3 {
    text-align: center;
    margin: 0 auto;

    margin-bottom: 20px;
  }

  &__img-line3 {
  }

  &__wrap-block4 {
    background: #edf0ef;
    border-radius: 100px;
    display: flex;
    align-items: center;
    width: 350px;
    height: 78px;
    margin-left: auto;

    margin-bottom: 20px;
  }

  &__wrap-level4 {
    background: #fff;
    box-shadow: 0px 0px 12px rgba(76, 85, 82, 0.16);
    padding: 12px 24px;
    width: 70px;
    height: 70px;
    border-radius: 50px;
    margin-left: 5px;

    font-family: $fontOnest;
    font-weight: 500;
    font-size: 40px;
    line-height: 115%;

    letter-spacing: -0.01em;

    color: $fontOnest;
  }
}
